<a href="https://colab.research.google.com/github/tuanhdao/MEDLab/blob/main/BVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Open file and delete first 5 lines which we don't need to use and save it as a new clean file
with open("/SRTA_Pos_avg_operationsinfo.txt") as f: #CHANGE THIS TO YOUR FILE'S NAME
    lines = f.readlines()
    del lines[0:5]

new_file = open("/SRTA_Pos_Avg_Segments_clean.txt", "w+") #CHANGE THIS TO YOUR FILE'S NAME
for line in lines:
    clean_file = new_file.write(line)
new_file.close()
condition = input("Condition? This will be to name the file only. ")

Condition? This will be to name the file only. Pos

In [2]:
#gets the number of lines and case count
file = open("/SRTA_Pos_Avg_Segments_clean.txt", "r")
number_of_lines = 0
case_count = 0
for line in file:
  number_of_lines += 1
#NOTE: CHANGE THIS TO YOUR ID FORMAT (i.e., if your ID is FYRE1001, change code to if "FYRE" in line)
  if "SRTA" in line:
    case_count += 1
length_segment = int(number_of_lines/case_count)
print("Case count: ", case_count)
print("Number of lines: ", number_of_lines)
print("Length of segment: ", length_segment)
file.close()

Case count:  128
Number of lines:  5316
Length of segment:  41

In [2]:
#import packages
import pandas as pd
from IPython.display import display
import re

In [14]:
#Get IDs - OLD DO NOT USE
#f = open("/SRTA_Pos_Avg_Segments_clean.txt") #rename to your file
#count = 0  
#entry = range(2, number_of_lines, 44)  
#list_id = []
#for line in f:
#  count += 1
#  for n in entry:
#    if count == n: 
#      id = line
#      id_clean = id.replace("\n","") #delete trailing white space
#      list_id.append(id_clean)
#id_df = pd.DataFrame (list_id,columns=['ID']) #create dataframe

In [9]:
list_id = []
for line in lines:
  if "SRTA" in line:
    id = line 
    id_clean = id.replace("\n","")
    list_id.append(id_clean)
print (list_id)
id_df = pd.DataFrame (list_id,columns=['ID']) #create dataframe

['SRTA1009', 'SRTA1010', 'SRTA1014', 'SRTA1017', 'SRTA1018', 'SRTA1021', 'SRTA1022', 'SRTA1023a', 'SRTA1026', 'SRTA1029', 'SRTA1031', 'SRTA1032', 'SRTA1033', 'SRTA1034', 'SRTA1036', 'SRTA1038', 'SRTA1040', 'SRTA1042', 'SRTA1043', 'SRTA1049', 'SRTA1050', 'SRTA1051', 'SRTA1053', 'SRTA1057', 'SRTA1058', 'SRTA1059', 'SRTA1062', 'SRTA1064', 'SRTA1065', 'SRTA1068', 'SRTA1070', 'SRTA1071', 'SRTA1074', 'SRTA1075', 'SRTA1080', 'SRTA1081', 'SRTA1087', 'SRTA1089', 'SRTA1090', 'SRTA1095', 'SRTA1097', 'SRTA1102', 'SRTA1108', 'SRTA1110', 'SRTA1111', 'SRTA1112', 'SRTA1113', 'SRTA1114', 'SRTA1115', 'SRTA1119', 'SRTA1120', 'SRTA1121', 'SRTA1123', 'SRTA1124', 'SRTA1126', 'SRTA1128', 'SRTA1130', 'SRTA1131', 'SRTA1132', 'SRTA1133', 'SRTA1134', 'SRTA1135', 'SRTA1136', 'SRTA1138', 'SRTA1139', 'SRTA1140', 'SRTA1141', 'SRTA1142', 'SRTA1144', 'SRTA1145', 'SRTA1146', 'SRTA1147', 'SRTA1148', 'SRTA1149', 'SRTA1152', 'SRTA1153', 'SRTA1154', 'SRTA1156', 'SRTA1158', 'SRTA1159', 'SRTA1160', 'SRTA1162', 'SRTA1164', 'SRTA1165', 'SRTA1166', 'SRTA1167', 'SRTA1169', 'SRTA1170', 'SRTA1172', 'SRTA1174', 'SRTA1177', 'SRTA1179', 'SRTA1180', 'SRTA1182', 'SRTA1183', 'SRTA1184', 'SRTA1185', 'SRTA1186', 'SRTA1187', 'SRTA1188', 'SRTA1191', 'SRTA1192', 'SRTA1193', 'SRTA1194', 'SRTA1197', 'SRTA1198', 'SRTA1199', 'SRTA1201', 'SRTA1204+', 'SRTA1205', 'SRTA1206', 'SRTA1207', 'SRTA1209', 'SRTA1210', 'SRTA1212', 'SRTA1214', 'SRTA1216', 'SRTA1219', 'SRTA1221', 'SRTA1222', 'SRTA1227', 'SRTA1229', 'SRTA1231', 'SRTA1233', 'SRTA1234', 'SRTA1235', 'SRTA1237', 'SRTA1238']

In [13]:
lookup = input("Electrode (MUST BE WRITTEN AS IT IS IN THE MACRO): ")
number_segments_all_other = []
number_segments_Cz_FCz = []
#Ok now the program will look up the line associated with the chosen electrode
for line in lines:
  if lookup in line:
    value = line.strip()
    if lookup == "Cz" or lookup == "FCz": #beware of Cz and FCz because they share the same characters in the name
      number_segments_Cz_FCz.append(value) #separate list for Cz FCz values
      N=2
      sub_Cz_FCz_list = [number_segments_Cz_FCz[n:n+N] for n in range(0, 
      len(number_segments_Cz_FCz), N)] #this parses the list into smaller lists of 2 elements
      values_Cz_FCz = []
      for i in sub_Cz_FCz_list:
        for k in i:
          split_Cz_FCz = re.split(r'\t+', k)
          values_Cz_FCz.append(split_Cz_FCz[-1:])
          flat_list_Cz_FCz = []
          for sublist in values_Cz_FCz:
            for item in sublist:
              flat_list_Cz_FCz.append(item)
      sub_Cz_FCz_list_2 = [flat_list_Cz_FCz[n:n+N] for n in range(0, 
      len(values_Cz_FCz), N)] #pair the elements again to be in twos
      number_segments_df = pd.DataFrame(sub_Cz_FCz_list_2) #create a data frame
      frame = [id_df, number_segments_df]
    else:
      number_segments_all_other.append(value)
      values_all_other = []  #for all other electrodes
      for i in number_segments_all_other:
        split_other = re.split(r'\t+', i)
        values_all_other.append(split_other[-1:])
        flat_list_other = []
        for sublist in values_all_other: 
          for item in sublist:
            flat_list_other.append(item)
      number_segments_df = pd.DataFrame(flat_list_other)

#Create a list of IDs and segments
concatenate = [id_df, number_segments_df]

#merge ID and electrode values so that we add new variables, not cases
frame= pd.concat(concatenate, axis = 1) 
df = pd.DataFrame(frame)
final_renamed_df = df.copy(deep=True)

#rename columns to show which electrode is used
if lookup == "Cz" or lookup == "FCz":
  final_renamed_df.columns = ["ID", "Cz", "FCz"]
else:
  final_renamed_df.columns = ["ID", lookup]

#display the final data frame to check for accuracy)
display(final_renamed_df)

#Save to a CSV file -- CHANGE THIS
final_renamed_df.to_csv("/content/drive/MyDrive/ITT" + "{}{}{}.csv".format(condition, "_", lookup), index = False)

Electrode (MUST BE WRITTEN AS IT IS IN THE MACRO): Oz

           ID  Oz
0    SRTA1009  29
1    SRTA1010  25
2    SRTA1014  30
3    SRTA1017  29
4    SRTA1018  28
..        ...  ..
123  SRTA1233  30
124  SRTA1234  26
125  SRTA1235  30
126  SRTA1237  29
127  SRTA1238  28

[128 rows x 2 columns]